body {
	font-family: 'Lexend Deca', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	max-width: 400px;
	margin: auto;
	height: 800px;
	color: #333;
	background-image: url('../assets/images/pexels-anete-lusina-4792353.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.input-class {
	height: 40px;
	width: 300px;
	border-radius: 10px;
	border: 1px solid grey;
	transition: transform 0.3s ease;
}
button {
	margin-top: 10px;
	height: 30px;
	width: 85px;
	border-radius: 10px;
	border: 1px solid grey;
	transition: transform 0.3s ease;
	font-size: 13px;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
button:hover {
	transform: scale(1.1);
}
.input-class:hover {
	transform: scale(1.1);
}
span {
	margin-left: 10px;
}
.div {
	margin: auto;
	height: 450px;
	text-align: center;
	padding: 10px;
	margin-top: 100px;
	background-color: rgba(202, 186, 169, 0.466);
	border-radius: 20px;
	border: 0.1px solid #333;
	box-shadow: 10px 14px 8px rgba(0, 0, 0, 0.1);
}

.task-checkbox:checked + .task-text {
	text-decoration: line-through;
	opacity: 0.5;
}

.tasks-container {
	padding: 10px;
}

.delete-button {
	background-color: #ff1e00db;
	width: 19px;
	height: 19px;
	margin-left: 10px;
	border-radius: 50%;
}
